.o_budget_forecasts_view {
	border: solid 2px #ff6b6c;
	border-radius: 5px;
	font-weight: bold;
	padding: 3px;
	&:hover {
		background: #ff6b6c;
		color: #ffffff;
	}
}
.o_budget_forecasts_kanban {
	border-radius: 5px;
}